
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Game</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

        <form action="/submit" style="visibility: hidden;" method="post" id="form" name="formulario">
          <input type="text" name="date"><input type="text" name="points">
        </form>

        <script>

          var isPaused = false;

          function pause(){
              if(isPaused === false){
                isPaused = true;
                cleanScreen(ctx, canvas.width, canvas.height);
                document.getElementById("pauseScreen").style.visibility="visible";
                document.getElementById("pauseButton").style.visibility="hidden";
              }else{
                isPaused = false;
                document.getElementById("pauseScreen").style.visibility="hidden";
                document.getElementById("pauseButton").style.visibility="visible";
              }
          }

          function goToIndex(){
            window.location.replace("/");
          }

          function restartGame(){
            window.location.replace("/game");
          }

        </script>

        <table style="top: 8%; left: 83%;" id="pauseButton">
          <tr><td><input type="button" value="||" onclick="pause()"></td></tr>
        </table>

        <table style=" top: 40%; visibility: hidden;" id="pauseScreen">
          <tr><td style="font-size: 35px; padding: 40px 0;">JOGO PAUSADO</td></tr>
          <tr><td><input type="button" style="font-size: 200%;" value="     Continuar     " onclick="pause()"></td></tr>
          <tr><td style="padding: 30px 0;"><input type="button" style="font-size: 200%;" value="     Reiniciar     " onclick="restartGame()"></td></tr>
          <tr><td><input type="button" style="font-size: 200%;" value="       Sair        " onclick="goToIndex()"></td></tr>
        </table>

        <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

        <script type="text/javascript" src="javascripts/SAT.js"></script>
        <script type="text/javascript" src="javascripts/model/Ship.js"></script>
        <script type="text/javascript" src="javascripts/model/Atom.js"></script>
        <script type="text/javascript" src="javascripts/model/Molecule.js"></script>
        <script type="text/javascript" src="javascripts/model/Shot.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawShip.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawAtom.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawMolecule.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawShot.js"></script>
        <script type="text/javascript" src="javascripts/controller/Keyboard.js"></script>
        <script type="text/javascript" src="javascripts/controller/CreateShip.js"></script>
        <script type="text/javascript" src="javascripts/controller/CreateMolecule.js"></script>
        <script type="text/javascript" src="javascripts/controller/Execute.js"></script>

    </body>
</html>
