
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Game</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

        <form action="/submit" style="visibility: hidden;" method="post" id="form" name="formulario">
          <input type="text" name="date">
          <input type="text" name="points">
        </form>

        <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

        <script type="text/javascript" src="javascripts/SAT.js"></script>
        <script type="text/javascript" src="javascripts/model/Ship.js"></script>
        <script type="text/javascript" src="javascripts/model/Atom.js"></script>
        <script type="text/javascript" src="javascripts/model/Molecule.js"></script>
        <script type="text/javascript" src="javascripts/model/Shot.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawShip.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawAtom.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawMolecule.js"></script>
        <script type="text/javascript" src="javascripts/view/DrawShot.js"></script>
        <script type="text/javascript" src="javascripts/controller/Keyboard.js"></script>
        <script type="text/javascript" src="javascripts/controller/CreateShip.js"></script>
        <script type="text/javascript" src="javascripts/controller/CreateMolecule.js"></script>
        <script type="text/javascript" src="javascripts/controller/Execute.js"></script>

    </body>
</html>
