
<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="utf-8">
        <title>Atomoids_Ranking</title>
        <script src="javascripts/pouchdb-6.2.0.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">

        <script>

            function goToIndex(){
              window.location.replace("/");
            }

        </script>

    </head>

    <body>

      <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

      <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>

      <script>

        function start(){
            drawScreen(ctx, canvas.width, canvas.height);
        }

        var canvas = document.getElementById("mycanvas");
        var ctx = canvas.getContext("2d");

        start();

      </script>

      <table cellpadding="10" style="top: 15%; left: 50%;">
        <tr>
          <td><input style="font-size: 25px;" type="button" value="<" onclick="goToIndex()"></td>
          <td style="font-size: 60px;">COMO JOGAR</td>
        </tr>
      </table>

    </body>

</html>
