
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_INDEX</title>
    </head>
    <body>

      <table border="1"><tr><td>APERTE ESPAÇO PARA JOGAR</td></tr></table>

      <script>
        window.onkeydown = keyPressed;
        function keyPressed(event){
        	  switch(event.keyCode){
    	         case 32:
                  window.location.replace("/game");
	             break;
	           }
	      }
      </script>

    </body>
</html>
