
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Index</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

      <script>

          window.onkeydown = keyPressed;
          function keyPressed(event){
          	  switch(event.keyCode){
      	         case 32:
                    window.location.replace("/game");
  	             break;
  	           }
  	      }

          function goToRankingPage(){
              window.location.replace("/ranking");
          }

      </script>

      <table style="top: 20%;">
        <tr><td style="font-size: 100px;">ATOMOIDS</td></tr>
        <tr><td style="font-size: 25px;">----------- Beta ------------</td></tr>
      </table>

      <table style="top: 65%;">
        <tr><td><%= message %></td></tr>
      </table>

      <table style="top: 75%;">
        <tr><td style="font-size: 25px;">APERTE ESPAÇO PARA JOGAR</td></tr>
      </table>

      <table style="top: 85%;">
        <tr><td><input type="button" style="font-size: 150%;" value="   Ranking   " onclick="goToRankingPage()"></td></tr>
      </table>

      <table style="top: 95%;">
        <tr><td style="color: grey; font-size: 10px; font-family: Hyperspace Bold Italic;">Por Adônis Belo e Daniel Rosa</td></tr>
      </table>

    </body>
</html>
