
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Index</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

      <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

      <script>

          window.onkeydown = keyPressed;
          function keyPressed(event){
          	  switch(event.keyCode){
      	         case 32:
                    window.location.replace("/game");
  	             break;
  	           }
  	      }

          function goToRankingPage(){
              window.location.replace("/ranking");
          }

      </script>

      <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>

      <!-- <script type="text/javascript" src="javascripts/SAT.js"></script>
      <script type="text/javascript" src="javascripts/model/Atom.js"></script>
      <script type="text/javascript" src="javascripts/model/Molecule.js"></script>
      <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>
      <script type="text/javascript" src="javascripts/view/DrawAtom.js"></script>
      <script type="text/javascript" src="javascripts/view/DrawMolecule.js"></script>
      <script type="text/javascript" src="javascripts/controller/CreateMolecule.js"></script> -->

      <script>

        // function loop(){
        //     drawScreen(ctx, canvas.width, canvas.height);
        //     cleanScreen(ctx, canvas.width, canvas.height);//..............................LIMPA A TELA (O RASTRO DAS COISAS)
        //     for(i = 0; i<molecules.length; i++){
        //         molecules[i].move();//....................................................MOVE A MOLECULA
        //     }
        // }
        //
        // function loadMolecules(){
        //   for(i = 0; i<(7); i++){
        //     var moleculeId = Math.floor(Math.random() * 5 + 1);
        //     molecules.push(createMolecule(canvas.width, canvas.height, moleculeId));
        //   }
        // }

        function start(){
            // loadMolecules();
            drawScreen(ctx, canvas.width, canvas.height);
            // IntervalId = setInterval(loop, 5);//https://stackoverflow.com/questions/109086/stop-setinterval-call-in-javascript/109098
            // setInterval(countTime, 1000);
        }

        var canvas = document.getElementById("mycanvas");
        var ctx = canvas.getContext("2d");

        // var molecules = [];// colocar numa classe game
        // var IntervalId;// colocar numa classe game

        start();

      </script>

      <table style="top: 20%;">
        <tr><td style="font-size: 100px;">ATOMOIDS</td></tr>
        <tr><td style="font-size: 25px;">------------ Beta ------------</td></tr>
      </table>

      <img src="images/atomoids_logo.png"> 

      <table style="top: 65%;">
        <tr><td><%= message %></td></tr>
      </table>

      <table style="top: 75%;">
        <tr><td style="font-size: 25px;">APERTE ESPAÇO PARA JOGAR</td></tr>
      </table>

      <table style="top: 85%;">
        <tr><td><input type="button" style="font-size: 150%;" value="   Ranking   " onclick="goToRankingPage()"></td></tr>
      </table>

      <table style="top: 93%;">
        <tr><td style="color: grey; font-size: 10px; font-family: HyperItalic;">Por Adônis Belo e Daniel Rosa</td></tr>
      </table>

    </body>
</html>
