
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Index</title>
        <script src="javascripts/pouchdb-6.2.0.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

      <script>

        function goToIndex(){
          window.location.replace("/");
        }

        function restartGame(){
          window.location.replace("/game");
        }

      </script>

      <table border="1" style="color: white; top: 10%; left: 42%;">
        <tr><td style="font-size: 70px;">PAUSA</td></tr>
      </table>

      <table border="1" style="color: white; top: 35%; left: 35%;">
        <tr><td style="padding: 20px 0;"><input type="button" style="font-size: 200%;" value="     Continuar     " onclick=""></td></tr>
        <tr><td style="padding: 20px 0;"><input type="button" style="font-size: 200%;" value="     Reiniciar     " onclick="restartGame()"></td></tr>
        <tr><td style="padding: 20px 0;"><input type="button" style="font-size: 200%;" value="       Sair        " onclick="goToIndex()"></td></tr>
      </table>

    </body>
</html>
