
<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="utf-8">
        <title>Atomoids_Ranking</title>
        <style>

          @font-face {
            font-family: Hyper;
            src: url("stylesheets/_fonts/Hyperspace Bold.otf");
          }

          body {
              font-family: Hyper;
              background-color: #101010;
          }

          table {
              position: absolute;
              border: 0px;
              color: white;
              transform: translate(-50%, 0%);
              /*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
          }

          input {
              font-family: Hyper;
              color: white;
              background-color: #101010;
          }

          tr, td {
              border: 0px;
              text-align: center;
              font-size: 17px;
          }

          canvas {
              position: absolute;
              background-color: #101010;
              width:  70%;
              height: 90%;
              top: 5%;
              left: 15%;
              margin: 0px;
          }

        </style>

        <script>

            function goToIndex(){
              window.location.replace("/");
            }

            var strPoints = '<%= points %>';
            var strNames = '<%= names %>';

            var arrayPoints = strPoints.split("|");
            var arrayNames = strNames.split("|");

            var maxPositionsPerPage = 20;
            var firstPosition = 1;
            var lastPosition = maxPositionsPerPage;
            var lastPage = false;

            function showRanking(tableName, tablePoints, tablePosition){

                var position = "";
                var names = "";
                var points = "";
                var back = arrayPoints[firstPosition-1];

                position += firstPosition+".<br>";
                names += arrayNames[firstPosition-1]+"<br>";
                points += arrayPoints[firstPosition-1]+"<br>";

                if(lastPosition >= arrayNames.length){
                   lastPage = true;
                }else{
                   lastPage = false;
                }

                for(var f = firstPosition; f<lastPosition; f++){
                     if(f >= arrayNames.length){
                       break;
                     }
                     if(arrayPoints[f] === back){
                       position += ".<br>";
                     }else{
                       position += (f+1)+".<br>";
                       back = arrayPoints[f];
                     }
                    names += arrayNames[f]+"<br>";
                    points += arrayPoints[f]+"<br>";
                }
                document.getElementById(tablePosition).innerHTML = position;
                document.getElementById(tableName).innerHTML = names;
                document.getElementById(tablePoints).innerHTML = points;
            }

            function showPreviousScores(){
              firstPosition -= maxPositionsPerPage;
              if(firstPosition < 1){
                firstPosition = 1;
              }
              lastPosition -= maxPositionsPerPage;
              if(lastPosition < maxPositionsPerPage){
                lastPosition = maxPositionsPerPage;
              }
              showRanking('tableName', 'tablePoints', 'tablePosition');
            }

            function showNextScores(){
              if(lastPage === false){
                firstPosition += maxPositionsPerPage;
                lastPosition += maxPositionsPerPage;
              }
              showRanking('tableName', 'tablePoints', 'tablePosition');
            }

        </script>

    </head>

    <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

    <script type="text/javascript" src="javascripts/classes/Screen.js"></script>

    <script>

      function start(){
        var scr = new Screen(canvas.width, canvas.height);
        scr.drawScreen(ctx);
      }

      var canvas = document.getElementById("mycanvas");
      var ctx = canvas.getContext("2d");

      start();

    </script>

    <body onload="showRanking('tableName', 'tablePoints', 'tablePosition');">

      <table cellpadding="10" style="top: 7%; left: 50%;">
        <tr>
          <td><input style="font-size: 25px;" type="button" value="<" onclick="goToIndex()"></td>
          <td style="font-size: 60px;">RANKING</td>
        </tr>
      </table>

      <table style="top: 22%; left: 50%;">
        <tr>
          <td id="tablePosition" style="text-align: right;"></td>
          <td id="tableName" style="text-align: left;"></td>
          <td id="tablePoints" style="text-align: right;"></td>
        </tr>
      </table>

      <table style="top: 87%; left: 50%;">
        <tr><td><input style="font-size: 25px;" type="button" value="<" onclick="showPreviousScores()"></td>
        <td><input style="font-size: 25px;" type="button" value=">" onclick="showNextScores()"></td></tr>
      </table>

    </body>

</html>
