
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Submit</title>
        <script src="javascripts/pouchdb-6.2.0.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>

    <body onload="getBiggerScore()">

      <canvas height="600" width="1000" id="mycanvas">O seu browser não suporta canvas</canvas>

      <script type="text/javascript" src="javascripts/view/DrawScreen.js"></script>

      <script type="text/javascript">

          var db = new PouchDB('atomoids_ranking');

          var score = {
              _id: '<%= date %>',
              points: '<%= points %>',
              name: ''
          }

          function getBiggerScore(){

            db.allDocs({include_docs: true, descending: true}).then(function(docs){

                scores = docs.rows;

                var biggerScore = 0;

                for(var k = 0; k < scores.length; k++){
                  if(parseInt(scores[k].doc.points) > parseInt(biggerScore)){
                    biggerScore = scores[k].doc.points;
                  }
                }

                if(parseInt(biggerScore) < parseInt(score.points)){
                   document.getElementById("record").style.visibility = "visible";
                }

            });

          }

          function addScoreIntoDB(){

              var characters = window.document.formulario.playerName.value;

              characters = characters.replace(/ /g, "_");

              if(characters.length >= 3){

              score.name = characters;

              db.put(score, function callback(err, result){
                  if(!err){
                      document.getElementById("addToRankingButton").submit();
                  }

              });

              window.document.formulario.playerName.value = characters;

              }else{
                document.getElementById("message").style.visibility = "visible";
              }

          }

          var canvas = document.getElementById("mycanvas");
          var ctx = canvas.getContext("2d");

          drawScreen(ctx, canvas.width, canvas.height);

      </script>

      <table style="top: 30%;">
        <tr><td style="font-size: 30px;">Score: <%= points %></td></tr>
      </table>

      <form action="/submited" method="post" name="formulario" id="addToRankingButton">
        <table style="top: 60%;">
          <tr><td><input style="width: 350px; font-size: 22px;" type="text" name="playerName" placeholder="Coloque o seu nome aqui" ></td>
          <td><input style="font-size: 22px;" type="button" value=">" onclick="addScoreIntoDB()"></td></tr>
        </table>
      </form>

      <table style="top: 70%;">
        <tr><td><input style="font-size: 30px;" type="button" value="     Reiniciar      " onclick="window.location.replace('/game')"></td></tr>
      </table>

      <table style="top: 80%;">
        <tr><td><input style="font-size: 30px;" type="button" value="        Menu        " onclick="window.location.replace('/')"></td></tr>
      </table>

      <table style="top: 55%; visibility: hidden;" id="message">
        <tr><td>Quantidade de caracteres insuficiente</td>
      </table>

      <table style="top: 22%; visibility: hidden;" id="record">
        <tr><td>Novo Recorde</td>
      </table>

    </body>
</html>
