
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Atomoids_Submit</title>
        <script src="javascripts/pouchdb-6.2.0.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

      <script type="text/javascript">

          var db = new PouchDB('atomoids_ranking');
          //var remoteCouch = 'http://127.0.0.1:5984/atomoids_ranking';

          var score = {
              _id: '<%= date %>',
              points: '<%= points %>',
              name: ''
          }

          function addScoreIntoDB(){
              score.name = window.document.formulario.playerName.value;
              db.put(score, function callback(err, result){
                  if(!err){
                      document.getElementById("addToRankingButton").submit();
                  }
              });
          }

          // function addScore(){
          //     score.name = window.document.formulario2.playerName.value;
          //     document.getElementById("form2").submit();
          // }

      </script>

      <table style="top: 30%;">
        <tr><td style="font-size: 30px;">Score: <%= points %></td></tr>
        <tr><td style="font-size: 30px;"><%= date %></td></tr>
      </table>

      <form action="/submited" method="post" name="formulario" id="addToRankingButton">
        <table style="top: 60%;">
          <tr><td><input style="width: 350px; font-size: 22px;" type="text" name="playerName" placeholder="Coloque o seu nome aqui" ></td>
          <td><input style="font-size: 22px;" type="button" value=">" onclick="addScoreIntoDB()"></td></tr>
        </table>
      </form>

      <!-- <form action="/submited" method="post" name="formulario2" id="form2">
        <table border="1">
          <tr><td><input type="text" name="playerName">
                  <input type="text" name="date" style="visibility: hidden;">
                  <input type="text" name="points" style="visibility: hidden;"></td>
          <td><input type="button" value="Submeter com Model" onclick="addScore()"></td></tr>
          </table>
      </form> -->

      <table style="top: 70%;">
        <tr><td><input style="font-size: 30px;" type="button" value="        Menu        " onclick="window.location.replace('/')"></td></tr>
      </table>

    </body>
</html>
