
<!-- @TESTE -->

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Teste</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

      <table border="1" style="color: white;">
        <tr><td>Página de teste</td></tr>
        <tr><td><%= message %></td></tr>
      </table>

    </body>
</html>
