
canvas {
    position: absolute;
    background-color: #101010;
    width:  70%;
    height: 90%;
    top: 5%;
    left: 15%;
    margin: 0px;
    z-index: 1; /*https://developer.mozilla.org/pt-BR/docs/Web/CSS/z-index?v=control*/
}

body {
    background-color: #101010;
}

table {
    position: absolute;
    left: 43.8%;
    top: 55%;
    z-index: 2;
    border: 0px;
}
